<!DOCTYPE html>
<html lang="en">

<head>
  {% extends 'HomeApp/base.html' %}
  {% load static %}
  <link rel="stylesheet" href={% static "css/alumni_style.css" %}>
  <meta charset="UTF-8">
  {% block title %}
  <title>Batch-wise</title>
  <link rel="favicon" href="{% static "images/favicon.png" %}">
  {% endblock %}
</head>

<body>

  {% block body%}

  <div class="container">
    <row>
      <h1>Session({{ current_session }})</h1>


      <table class="table col-sm-12 table-responsive table-hover table-bordered w-auto">
        <thead style="background: #1d91bd;color: #FFFFFF;">
          <tr>
            <th>Name</th>
            <th>Session</th>
            <th>Position</th>
            <th>Contact No</th>
          </tr>
        </thead>
        <tbody>
          {% for people in all_people %}
          <tr>
            <td><a href="{% url 'DataRepositoryApp:get-profile' people.pk %}"
                style="color: #6E6E6E;">{{ people.name }}</a></td>
            <td>{{ people.session }}</td>
            <td>{{ people.current_position }}</td>
            <td><a style="color: #6E6E6E;">{{ people.contact_no }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </row>


    {#        {% for people in all_people %}#}
    {#        <div class="col-md-4 list-group-item" >#}
    {#            <h3 class="list-group-item "><b>Name: {{ people.name }}, </b></h3>#}
    {#            <h3 class="list-group-item">Session: {{ people.session }}, </h3>#}
    {#            <h3 class="list-group-item">Current position: {{ people.current_position }}, </h3>#}
    {#            <h3 class="list-group-item">Contact No: {{ people.contact_no }}, </h3>#}
    {#            <h3 class="list-group-item">Email: {{ people.email }}, </h3>#}
    {#        </div>#}
    {##}
    {#        {% endfor %}#}
  </div>

  {% endblock %}

</body>

</html>