<!DOCTYPE html>
<html lang="en">

<head>
  {% extends 'HomeApp/base.html' %}
  {% load static %}
  <link rel="stylesheet" href={% static "css/alumni_style.css" %}>
  <meta charset="UTF-8">
  {% block title %}
  <title>Search Results</title>
  <link rel="favicon" href="{% static "images/favicon.png" %}">
  {% endblock %}
</head>

<body>

  {% block body%}

  <div class="container">
    <row>
      <h1>  Search Result For "{{ search_key }}"</h1>


      {% if search_by_name.count == 0 and search_by_session.count == 0 and search_by_position.count == 0 %}

      <h1 class="warning">No Result Found</h1>

      {% else %}




      {% if search_by_name%}

          <div class="col-md-12">
            <h2 style="display: flex;justify-content: center;background: #FFFFFF;padding: 1%">Search By Name</h2>
            {% for people in search_by_name %}
                <div class="col-md-4 " style="background: #FFFFFF; padding: 1%; border: 5px solid #eeeeee">
                    <div >

                        <div class="col-md-6">
                            {% if people.profile_picture %}
                            <a href="{% url 'DataRepositoryApp:get-profile' people.pk %}">
                                <img style="cursor: pointer" alt="User Pic" src="{{ people.profile_picture.url }}" class="img-circle img-responsive">
                            </a>
                            {% else %}
                            <a href="{% url 'DataRepositoryApp:get-profile' people.pk %}">
                                <img alt="User Pic" src="{% static 'images/nobody_m.original.jpg' %}" class="img-circle img-responsive">
                            </a>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <a href="{% url 'DataRepositoryApp:get-profile' people.pk %}" style="color: #6E6E6E;" class="cardDetail" >{{ people.name }}</a>
                            <p style="color: #6E6E6E;" class="cardDetail">{{ people.current_position }}</p>
                            <p style="color: #6E6E6E;" class="cardDetail">{{ people.contact_no }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
          </div>

      {% endif %}


      {% if search_by_session%}

          <div class="col-md-12">
            <h2 style="display: flex;justify-content: center;background: #FFFFFF;padding: 1%">Search By Session</h2>
            {% for people in search_by_session %}
                <div class="col-md-4 " style="background: #FFFFFF; padding: 1%; border: 5px solid #eeeeee">
                    <div >

                        <div class="col-md-6">
                            {% if people.profile_picture %}
                            <a href="{% url 'DataRepositoryApp:get-profile' people.pk %}">
                                <img style="cursor: pointer" alt="User Pic" src="{{ people.profile_picture.url }}" class="img-circle img-responsive">
                            </a>
                            {% else %}
                            <a href="{% url 'DataRepositoryApp:get-profile' people.pk %}">
                                <img alt="User Pic" src="{% static 'images/nobody_m.original.jpg' %}" class="img-circle img-responsive">
                            </a>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <a href="{% url 'DataRepositoryApp:get-profile' people.pk %}" style="color: #6E6E6E;" class="cardDetail" >{{ people.name }}</a>
                            <p style="color: #6E6E6E;" class="cardDetail">{{ people.current_position }}</p>
                            <a href="{% url 'DataRepositoryApp:get-session' people.session %}" style="color: #6E6E6E;" class="cardDetail">{{ people.session }}</a>
                            <p style="color: #6E6E6E;" class="cardDetail">{{ people.contact_no }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
          </div>

      {% endif %}


      {% if search_by_position %}

      <div class="col-md-12">
            <h2 style="display: flex;justify-content: center;background: #FFFFFF;padding: 1%">Search By Position</h2>
            {% for people in search_by_position %}
                <div class="col-md-4 " style="background: #FFFFFF; padding: 1%; border: 5px solid #eeeeee">
                    <div >

                        <div class="col-md-6">
                            {% if people.profile_picture %}
                            <a href="{% url 'DataRepositoryApp:get-profile' people.pk %}">
                                <img style="cursor: pointer" alt="User Pic" src="{{ people.profile_picture.url }}" class="img-circle img-responsive">
                            </a>
                            {% else %}
                            <a href="{% url 'DataRepositoryApp:get-profile' people.pk %}">
                                <img alt="User Pic" src="{% static 'images/nobody_m.original.jpg' %}" class="img-circle img-responsive">
                            </a>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <a href="{% url 'DataRepositoryApp:get-profile' people.pk %}" style="color: #6E6E6E;" class="cardDetail" >{{ people.name }}</a>
                            <p style="color: #6E6E6E;" class="cardDetail">{{ people.current_position }}</p>
                            <p style="color: #6E6E6E;" class="cardDetail">{{ people.contact_no }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
          </div>


      {% endif %}
      {% endif %}



    </row>
  </div>

  {% endblock %}

</body>

</html>